.supervisor-table{
    width: 70%;
    align-self: center;
    align-items: center;
    align-content: center;
    margin-left: 10%;
    margin-right: 8%;
    padding-left: 5%;
    padding-right: 5%;
      
}
table{
    align-content: center;
   
    width: 100%;
 
}
h1{
    text-align: center;
}
button{
    background-color: cornsilk;
    width: 55;
}
th{
    text-align: center;
    align-self: center;
    align-content: center;
}
