<h1>Table of Supervisors</h1>
<div class="supervisor-table mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

    <table mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8">
        <ng-container matColumnDef="sId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let supervisor"> {{supervisor.sId}} </td>
        </ng-container>
        <ng-container matColumnDef="sFirstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
            <td mat-cell *matCellDef="let supervisor"> {{supervisor.sFirstName}} </td>
        </ng-container>
        <ng-container matColumnDef="sLastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
            <td mat-cell *matCellDef="let supervisor"> {{supervisor.sLastName}} </td>
        </ng-container>
        <ng-container matColumnDef="sGender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender</th>
            <td mat-cell *matCellDef="let supervisor"> {{supervisor.sGender}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> View Details</th>
            <td mat-cell *matCellDef="let supervisor"><button routerLink="/details-supervisor/{{supervisor.sId}}">DETAILS</button></td>
        </ng-container>
        
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit Supervisor</th>
            <td mat-cell *matCellDef="let supervisor"><button routerLink="/edit-supervisor/{{supervisor.sId}}">EDIT</button></td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete Supervisor</th>
            <td mat-cell *matCellDef="let supervisor"><button (click)="deleteSupervisor(supervisor.sId)">DELETE</button></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
