<mat-toolbar color="accent">
    <span class="app-title">Employee App</span>

    <button mat-button [matMenuTriggerFor]="menu" class="Empmenu">Employee</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="view-employee">View Employee</button>
    <button mat-menu-item routerLink="add-employee">Add Employee</button>
    <button mat-menu-item routerLink="details-employee">Employee Details</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu1" class="Supmenu">Supervisor</button>
    <mat-menu #menu1="matMenu">
    <button mat-menu-item routerLink="view-supervisor">View Supervisor</button>
    <button mat-menu-item routerLink="add-supervisor">Add Supervisor</button>
    </mat-menu>

</mat-toolbar>
