<h1>Edit Employee</h1>
<form [formGroup]="employeeForm" (ngSubmit)="NeweditEmployee()"color="accent">
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="LastName" formControlName="lastName">
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="FirstName" formControlName="firstName">
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <select matNativeControl required formControlName="gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>    
          </select>
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Salary</mat-label>
        <input type="number" matInput placeholder="Salary" formControlName="salary">
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Resigned</mat-label>
        <select matNativeControl required formControlName="resigned">
            <option value="True">True</option>
            <option value="False">False</option>    
          </select>
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Supervisor</mat-label>
        <mat-select formControlName="supervisor_id">
          <mat-option *ngFor="let s of supervisors" value="{{s.sId}}">
            {{s.sFirstName}} {{s.sLaststName}}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <div>
          <button type="submit" color="primary" mat-raised-button>Update</button>
      </div>

    
    
</form>
