<h2>Employee Details</h2>
<div class="details" *ngIf="employeeDetails">
    <div>
      <label><b>First Name: </b></label> {{employeeDetails.firstName}}
    </div><br>
    <div>
      <label><b>Last Name: </b></label> {{employeeDetails.lastName}}
    </div><br>
    <div>
      <label><b>Gender: </b></label> {{employeeDetails.gender}}
    </div><br>
    <div>
        <label><b>Salary: </b></label> {{employeeDetails.salary}}
      </div><br>
      <div>
        <label><b>Resigned: </b></label> {{employeeDetails.resigned}}
      </div><br>
      <div>
        <label><b>Supervisor: </b></label> {{employeeDetails.supervisor.sFirstName}} {{employeeDetails.supervisor.sLastName}}
      </div><br>
</div>