form{
    width:100%;
    align-self: center;
    text-align: center;
   align-items: center;
   
}
mat-form-field{
   
    width: 40%;
    align-items: center;
    align-self: center;
    align-content: center;
}
h1{
    text-align: center;
}
button{
    align-content: center;
    text-align: center;
    box-align: center;
    
   
}