<h1>Supervisor Details</h1> 


<div  class="details" *ngIf="supervisorDetails">
    <div>
      <label><b>First Name: </b></label> {{supervisorDetails.sFirstName}}
    </div><br>
    <div>
      <label><b>Last Name: </b></label> {{supervisorDetails.sLastName}}
    </div><br>
    <div>
      <label><b>Gender: </b></label> {{supervisorDetails.sGender}}
    </div><br>

      <br>
      <h3>Supervisor's Employees</h3>
      <div class="employee-table mat-elevation-z8" >
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.id}} </td>
          </ng-container>
          <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.firstName}} </td>
          </ng-container>
          <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > Last Name</th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.lastName}} </td>
          </ng-container>
          <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender</th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.gender}} </td>
          </ng-container>
          <ng-container matColumnDef="salary">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary</th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.salary | number: '1.2-2'}} </td>
          </ng-container>
          <ng-container matColumnDef="resigned">
              <th mat-header-cell *matHeaderCellDef> Resigned</th>
              <td mat-cell *matCellDef="let employeeList"> {{employeeList.resigned}} </td>
          </ng-container>

          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[ 5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>

<!-- <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Gender</td>
            <td>Salary</td>
            <td>Resigned</td>
        </tr>
        <tr *ngFor="let e of employeeList">
            <td>{{e.id}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.gender}}</td>
            <td>{{e.salary}}</td>
            <td>{{e.resigned}}</td>
        </tr>

    </table> -->
