<h1>Edit Supervisor</h1>
<form [formGroup]="supervisorForm" (ngSubmit)="NeweditSupervisor()"color="accent">
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="LastName" formControlName="sLastName">
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="FirstName" formControlName="sFirstName">
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <select matNativeControl required formControlName="sGender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>    
          </select>
      </mat-form-field><br>

      <div>
          <button type="submit" color="primary" mat-raised-button>Update</button>
      </div>