<h1>Table of Employees</h1>
<div class="employee-table mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

    <table mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
            <td mat-cell *matCellDef="let employee"> {{employee.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
            <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender</th>
            <td mat-cell *matCellDef="let employee"> {{employee.gender}} </td>
        </ng-container>
        <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary</th>
            <td mat-cell *matCellDef="let employee"> {{employee.salary | number: '1.2-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="resigned">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Resigned</th>
            <td mat-cell *matCellDef="let employee"> {{employee.resigned}} </td>
        </ng-container>
        <ng-container matColumnDef="supervisor">
            <th mat-header-cell *matHeaderCellDef> Supervisor</th>
            <td mat-cell *matCellDef="let employee"> {{ employee.supervisor.sFirstName }} {{ employee.supervisor.sLastName }} </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> View Details</th>
            <td mat-cell *matCellDef="let employee"><button routerLink="/details-employee/{{employee.id}}">DETAILS</button></td>
        </ng-container>
        
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit Employee</th>
            <td mat-cell *matCellDef="let employee"><button routerLink="/edit-employee/{{employee.id}}">EDIT</button></td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete Employee</th>
            <td mat-cell *matCellDef="let employee"><button (click)="deleteEmployee(employee.id)">DELETE</button></td>
        </ng-container>
        


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
    